<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>Proccess SA</title>

		<link rel="stylesheet" href="../../css/general.css">
        <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
		
	</head>
	<body>
		<nav id="nav"></nav>
		
		<div class="container">
            <form id="internalDriveForm">
                <div class="row">
                    <div>
                        <label>Nombre</label>
                        <input id="nombre" type="text" placeholder="Nombre" required>
                    </div>
                    <div>
                        <label>Descripción</label>
                        <textarea id="descripcion" placeholder="Descripción"></textarea>
                    </div>
                    <div>
                        <label>Empresa</label>
                        <select id="empresa" name="empresa" required>
                            
                        </select>
                    </div>
                </div>
                <button id="btnSubmit" name="crearUsuario" type="submit" class="btn btn-primary">Registrar</button>
                <button type="button" name="cancelar" class="btn btn-primary">Cancelar</button>
                <input id="internalDriveId" type="hidden">
              </form>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Empresa</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div id="footer"></div>
        
        <template id="internalDrivesTemplate">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </template>    
        
        <script type="module" src="../../js/loadMenu.js"></script>
        <script type="module" src="../../js/unidades/unidades.js"></script>
	</body>
</html>