<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>Proccess SA</title>

		<link rel="stylesheet" href="../../css/general.css">
        <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
		
	</head>
	<body>
		<nav id="nav"></nav>
		
		<div class="container">
            <form id="userForm">
                <div class="row">
                    <div>
                        <label>Usuario</label>
                        <input id="username" type="text" placeholder="Usuario" required>
                    </div>
                    <div>
                        <label>Contraseña</label>
                        <input id="password" type="password" placeholder="Password" required>
                    </div>
                    <div>
                        <label>Rut</label>
                        <input id="rut" type="text" placeholder="Rut" required>
                    </div>
                    <div>
                        <label>Nombre</label>
                        <input id="nombre" type="text" placeholder="Nombre" required>
                    </div>
                    <div>
                        <label>Apellido</label>
                        <input id="apellido" type="text" placeholder="Apellido" required>
                    </div>
                    <div>
                        <label>Email</label>
                        <input id="email" type="email" placeholder="Email" required>
                    </div>
                    <div>
                        <label>Telefono</label>
                        <input id="telefono" type="number" placeholder="Telefono" required>
                    </div>
                    <div>
                        <label>Direccion</label>
                        <input id="direccion" type="text" placeholder="Dirección" required>
                    </div>
                    <div>
                        <label>Region</label>
                        <input id="region" type="text" placeholder="Región" required>
                    </div>
                    <div>
                        <label>Rol</label>
                        <select id="rol" name="rol" required>
                            
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input id="is_active" type="checkbox">
                            <label>
                                Activado
                            </label>
                        </div>
                    </div>
                </div>
                <button id="btnSubmit" name="crearUsuario" type="submit" class="btn btn-primary">Registrar</button>
                <button type="button" name="cancelar" class="btn btn-primary">Cancelar</button>
                <input id="userId" type="hidden">
              </form>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Correo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div id="footer"></div>
        
        <template id="userTemplate">
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </template>    
        
        <script type="module" src="../../js/loadMenu.js"></script>
        <script type="module" src="../../js/users/list.js"></script>
	</body>
</html>